@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Quicksand', sans-serif;
}
html, body { 
  background-color: #1d1235;
  margin: 0%;
  font-family: 'Quicksand', sans-serif;
}

.globalLoginBtn {
    z-index: 1;
    will-change: filter;
    transition: filter 300ms;
    border: none;
    background-color: #484262;
    border-radius: 19px;
    margin-top: 15px;
    margin-left: 15px;
}

.globalLoginBtn:hover {
    filter: drop-shadow(0 0 1.3em #5363f7aa);
    background-color: white;
    color: #484262;
}

.returnBtnGlobal:hover {
  filter: drop-shadow(0 0 1.3em #7c99f5aa);
}

.returnBtnGlobal {

  will-change: filter;
  transition: filter 300ms;
  width: 350px;
  border: none;
  position: fixed;
  border-radius: 19px;
  top: 75%;
  left: -10%;
  z-index: 2;
}

.globalDropDownBtn {
  position: fixed;
  will-change: filter;
  transition: filter 300ms;
  top: 0.6%;
  left: 62%;
  z-index: 5;
  width: 65px;
  text-decoration: transparent;
  border: none;
  border-radius: 1000000px;
}

@media screen and (min-width: 1920px){
  .returnBtnGlobal {
    top: 75%;
    left: -7%;
    width: 450px;
    height: 250px;
    z-index: 2;
  }  
  .globalDropDownBtn {
    top: 0.8%;
    left: 58.3%;
  }
}
@media screen and (min-width: 1500px) and (max-width: 1700px){
  .returnBtnGlobal {
    top: 75%;
    left: -7%;
    z-index: 2;
  }  
  .globalDropDownBtn {
    top: 0.7%;
  }
}

@media screen and (min-width: 400px) and (max-width: 499px){
  .globalDropDownBtn {
    top: 3.7%;
    left: 78%;
  }
  .returnBtnGlobal {
    position: fixed;
    left: -30%;
    z-index: 5;
  }
  .globalLoginBtn {
    
    width: 75px;
    left: -1.6%;
  }
}

@media screen and (min-width: 500px) and (max-width: 530px){
  .returnBtnGlobal {
    top: 80%;
    left: -20%;
  }
  .globalLoginBtn {
    width: 75px;
    left: -1.6%;
  }
  .globalDropDownBtn {
    top: 3.7%;
    left: 75%;
  }
}

@media screen and (min-width: 531px) and (max-width: 550px){
  .returnBtnGlobal {
    top: 80%;
    left: -20%;
  }
  .globalLoginBtn {
    width: 75px;
    left: -1.6%;
  }
  .globalDropDownBtn {
    top: 3.7%;
    left: 72%;
  }
}

@media screen and (min-width: 551px) and (max-width: 580px){
  .returnBtnGlobal {
    top: 80%;
    left: -20%;
  }
  .globalLoginBtn {
    width: 75px;
    left: -1.6%;
  }
  .globalDropDownBtn {
    top: 3.7%;
    left: 69%;
  }
}

@media screen and (min-width: 581px) and (max-width: 600px){
  .returnBtnGlobal {
    top: 80%;
    left: -20%;
  }
  .globalLoginBtn {
    width: 75px;
    left: -1.6%;
  }
  .globalDropDownBtn {
    top: 3.7%;
    left: 66%;
  }
}