.MerchantActiveParcelBG{
    z-index: -5;
}

/*REFERENCE HOVERS*/
.mapPS1:hover, .mapPS2:hover, 
.mapPS3:hover, .mapPS4:hover,
.mapPS5:hover {
    filter: drop-shadow(0 0 2em #ff2929aa);
    transform: scale(1.1);
}

.mapWC1, .mapWC2,
.mapWC3, .mapWS1{
    filter: drop-shadow(0 0 2em #646cffaa);
    transform: scale(1.1);
}

.mapWC1{

    position: fixed;
    overflow: hidden;
    top: 50%;
    left: 85%;
    width: 110px;
    height: 100px;
    z-index: 1;
}
.mapWC2{

    position: fixed;
    overflow: hidden;
    top: 65%;
    left: 25%;
    width: 110px;
    height: 100px;
    z-index: 1;
}
.mapWC3{

    position: fixed;
    overflow: hidden;
    top: 75%;
    left: 75%;
    width: 110px;
    height: 100px;
    z-index: 1;
}
.mapPS1{

    position: fixed;
    overflow: hidden;
    top: 10%;
    left: 20%;
    width: 110px;
    height: 110px;
    z-index: 1;
    transform: rotate(125deg);
}
.mapPS2{

    position: fixed;
    overflow: hidden;
    top: 93%;
    left: -1%;
    width: 110px;
    height: 110px;
    z-index: 1;
    transform: rotate(125deg);
}
.mapPS3{

    position: fixed;
    overflow: hidden;
    top: 53%;
    left: 80%;
    width: 50px;
    height: 50px;
    z-index: 1;
    transform: rotate(255deg);
}
.mapPS4{

    position: fixed;
    overflow: hidden;
    top: 65%;
    left: 8%;
    width: 50px;
    height: 50px;
    z-index: 1;
    transform: rotate(255deg);
}
.mapPS5{

    position: fixed;
    overflow: hidden;
    top: 88%;
    left: 92%;
    width: 50px;
    height: 50px;
    z-index: 1;
    transform: rotate(255deg);
}
.mapWS1{
    position: fixed;
    overflow: hidden;
    top: 40%;
    left: -5%;
    width: 110px;
    height: 110px;
    z-index: 1;
    transform: rotate(180deg);
}

@media screen and (min-width: 1920px){
    .mapWC1 {
        width: 220px;
        height: 200px;
    }
    .mapWC2 {
        width: 220px;
        height: 200px;
    }
    .mapWC3 {
        width: 220px;
        height: 200px;
    }
    .mapPS1 {
        width: 220px;
        height: 220px;
    }
    .mapPS2 {
        top: 89.5%;
        width: 220px;
        height: 220px;
    }
    .mapPS3 {
        width: 100px;
        height: 100px;
    }
    .mapPS4 {
        width: 100px;
        height: 100px;
    }
    .mapPS5 {
        width: 100px;
        height: 100px;
    }
    .mapWS1 {
        left: -7%;
        width: 220px;
        height: 220px;
    }
}

@media screen and (min-width: 1500px) and (max-width: 1700px){
    .mapWS1 {
        left: -4.1%;
    }
}

@media screen and (min-width: 400px) and (max-width: 499px){
    .ParcelHistoryContainer {
        left: 8%;
        width: 350px;
    }
    .history-entry {
        margin-top: 60px;
        margin-bottom: 5px;
        color: #7b70aa;
        z-index: 2;
    }
    .mapWC1 {
        top: 17%;
        z-index: -2;
    }
    .mapWC2 {
        z-index: -2;
    }
    .mapWC3 {
        top: 86%;
        left: 80%;
        z-index: -2;
    }
    .mapPS1 {
        top: -7%;
        left: 40%;
        z-index: -2;
    }
    .mapPS2 {
        top: 88%;
        left: -9%;
        z-index: -2;
    }
    .mapPS3 {
        z-index: -2;
    }
    .mapPS4 {
        top: 80%;
        left: 60%;
        z-index: -2;
    }
    .mapPS5 {
        top: 60%;
        left: -5%;
        z-index: -2;
    }
    .mapWS1 {
        top: 30%;
        left: -15%;
        z-index: -2;
    }
}

@media screen and (min-width: 500px) and (max-width: 600px){
    .ParcelHistoryContainer {
        left: 8%;
        width: 350px;
        margin-top: 30px;
    }
    .history-entry {
        margin-bottom: 5px;
        color: #7b70aa;
        z-index: 2;
    }
    .mapWC1 {
        top: 17%;
        z-index: -2;
    }
    .mapWC2 {
        z-index: -2;
    }
    .mapWC3 {
        top: 86%;
        left: 80%;
        z-index: -2;
    }
    .mapPS1 {
        top: -7%;
        left: 40%;
        z-index: -2;
    }
    .mapPS2 {
        top: 88%;
        left: -9%;
        z-index: -2;
    }
    .mapPS3 {
        z-index: -2;
    }
    .mapPS4 {
        top: 80%;
        left: 60%;
        z-index: -2;
    }
    .mapPS5 {
        top: 60%;
        left: -5%;
        z-index: -2;
    }
    .mapWS1 {
        top: 30%;
        left: -15%;
        z-index: -2;
    }
}